<!DOCTYPE html>
<html lang="es">
  <%- include("/views/components/head.ejs") %>
  <body>
    <%- include("/views/components/header.ejs") %>
    <%-include("/views/components/main.ejs") %>
    <footer>
      <%-include('/views/components/contancto.ejs') %>
      <%-include('/views/components/redesSociales.ejs') %>
    </footer>

    <div id="buttonBrand"></div>
    <!--Carga de script-->
    <script src="https://github.com/Ari-1911/pg2-30043512"></script>
  </body>
</html>
